<div class="flex flex-col gap-4">
  @for (task of tasks | async; track $index) {
    <mat-card>
      <mat-card-content class="!flex">
        <div class="flex-1">
          <div class="text-xl">
            {{ task.name }}
          </div>
          <div>
            {{ task.description }}
          </div>
          <div>
            {{ task.date | date: "yyyy/MM/dd" }}
          </div>
        </div>
        <div class="flex-none">
          <button
            mat-icon-button
            aria-label="編集"
            (click)="clickEditItem(task.id)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="flex-none">
          <button
            mat-icon-button
            aria-label="削除"
            class="!text-red-500"
            (click)="clickDeleteItem(task.id, task.name)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  }
</div>
