<mat-toolbar color="primary" role="heading">
  <button mat-icon-button aria-label="メニューを開く" (click)="openDrawer()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Done List</span>
  <span class="flex-auto"></span>
  <button
    mat-icon-button
    aria-label="ログインメニューを開く"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    @if (user$ | async; as user) {
      <div mat-menu-item>
        {{ user.displayName }}
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>ログアウト</span>
      </button>
    } @else {
      <button mat-menu-item (click)="login()">
        <mat-icon>login</mat-icon>
        <span>ログイン</span>
      </button>
    }
  </mat-menu>
</mat-toolbar>
