<mat-toolbar class="!bg-transparent backdrop-blur-[2px]" role="heading">
  <button mat-icon-button aria-label="メニューを開く" (click)="openDrawer()">
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="'/'">
    <span>Done List</span>
  </a>
  <span class="flex-auto"></span>
  <button
    #menuButton
    mat-icon-button
    aria-label="ログインメニューを開く"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    @if (sessionSignal(); as session) {
      <div mat-menu-item>
        {{ session.user.email }}
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>ログアウト</span>
      </button>
    } @else {
      <a mat-menu-item [routerLink]="'/login'">
        <mat-icon>login</mat-icon>
        <span>ログイン</span>
      </a>
    }
  </mat-menu>
</mat-toolbar>
