<div class="flex flex-col gap-4 items-center">
  <h1 class="text-xl">ログイン</h1>

  <app-login-google />

  <form
    class="flex flex-col gap-4 items-center w-full"
    aria-live="polite"
    [formGroup]="form"
  >
    <mat-form-field class="!min-w-60">
      <mat-label>メールアドレス</mat-label>
      <input
        id="email"
        matInput
        required
        placeholder="user@example.com"
        formControlName="email"
        (blur)="updateEmailErrorMessage()"
      />
      @if (form.controls["email"].invalid) {
        <mat-error>{{ emailErrorMessage() }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>パスワード</mat-label>
      <input
        id="password"
        matInput
        formControlName="password"
        minlength="8"
        autocomplete="current-password"
        [type]="hidePassword() ? 'password' : 'text'"
        (blur)="updatePasswordErrorMessage()"
      />
      <button
        mat-icon-button
        matSuffix
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword()"
        (click)="clickHidePassword($event)"
      >
        <mat-icon>{{
          hidePassword() ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      @if (form.controls["password"].invalid) {
        <mat-error>{{ passwordErrorMessage() }}</mat-error>
      }
    </mat-form-field>

    <button
      type="button"
      mat-flat-button
      [disabled]="loading"
      (click)="onSubmit()"
    >
      {{ loading ? "Loading..." : "ログイン" }}
    </button>

    <a type="button" mat-stroked-button [routerLink]="'/sign-up'">
      アカウント作成
    </a>
  </form>
</div>
