<div class="flex flex-col gap-4">
  <section>
    <p>
      当サイトでは、Google によるアクセス解析ツール「Google
      アナリティクス」を利用しています。
    </p>
    <p>
      このGoogle
      アナリティクスは、トラフィックデータの収集のためにクッキー（Cookie）を使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。
    </p>
    <p>
      Cookieを無効にすることでデータの収集を拒否することが可能ですので、必要に応じてお使いのブラウザにて設定を実施してください。
    </p>
  </section>

  <section>
    <p>
      Google
      アナリティクスの利用により収集されたデータは、Googleのプライバシーポリシーに基づいて管理されています。
    </p>
    <p>
      Google アナリティクスの利用規約・プライバシーポリシーについてはGoogle
      アナリティクスのホームページでご確認ください。
    </p>
  </section>

  <ul>
    <li>
      <a
        class="underline"
        href="https://marketingplatform.google.com/about/analytics/terms/jp/"
        target="_blank"
      >
        Google アナリティクス利用規約
      </a>
    </li>
    <li>
      <a
        class="underline"
        href="https://policies.google.com/privacy?hl=ja"
        target="_blank"
      >
        プライバシーポリシー（Google）
      </a>
    </li>
  </ul>
</div>
