<form class="flex flex-col gap-4 items-center w-full" aria-live="polite">
  <mat-form-field class="!min-w-60">
    <mat-label>メールアドレス</mat-label>
    <input
      matInput
      required
      placeholder="user@example.com"
      [formControl]="email"
      (blur)="updateErrorMessage()"
    />
    @if (email.invalid) {
      <mat-error>{{ errorMessage() }}</mat-error>
    }
  </mat-form-field>
  <div>
    <button
      type="button"
      mat-flat-button
      [disabled]="loading"
      (click)="onSubmit()"
    >
      {{ loading ? "Loading..." : "ログインメールを送信" }}
    </button>
  </div>
  <a type="button" mat-stroked-button [routerLink]="'/sign-up'">
    アカウント作成
  </a>
</form>
