<h2 mat-dialog-title>やったことをメモする</h2>
<mat-dialog-content>
  <form #formModel="ngForm" class="flex flex-col gap-4 py-4">
    <mat-form-field>
      <mat-label i18n>タイトル</mat-label>
      <input
        #titleModel="ngModel"
        matInput
        type="text"
        name="title"
        required
        [(ngModel)]="title"
      />
      @if (titleModel.invalid) {
        <mat-error i18n>必須入力</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n>日付</mat-label>
      <input
        #dateModel="ngModel"
        matInput
        type="date"
        name="date"
        required
        max="9999-12-31"
        [(ngModel)]="date"
      />
      @if (dateModel.invalid) {
        <mat-error i18n>必須入力</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n>説明</mat-label>
      <textarea
        matInput
        name="description"
        [(ngModel)]="description"
      ></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button i18n mat-button type="button" [mat-dialog-close]="null">
    キャンセル
  </button>

  @if (id()) {
    <button
      i18n
      mat-flat-button
      color="primary"
      type="button"
      [disabled]="!formModel.valid"
      (click)="clickEditButton()"
    >
      やった
    </button>
  } @else {
    <button
      i18n
      mat-flat-button
      color="primary"
      type="button"
      [disabled]="!formModel.valid"
      (click)="clickAddButton()"
    >
      やった
    </button>
  }
</mat-dialog-actions>
