<h2 mat-dialog-title>What did you do?</h2>
<mat-dialog-content>
  <form #formModel="ngForm" class="flex flex-col gap-4 py-4">
    <mat-form-field>
      <mat-label>name</mat-label>
      <input
        matInput
        type="text"
        name="name"
        [(ngModel)]="name"
        required
        #nameModel="ngModel"
      />
      @if (nameModel.invalid) {
        <mat-error>required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>date</mat-label>
      <input
        matInput
        type="date"
        name="date"
        [(ngModel)]="date"
        required
        max="9999-12-31"
        #dateModel="ngModel"
      />
      @if (dateModel.invalid) {
        <mat-error>required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>description</mat-label>
      <textarea
        matInput
        name="description"
        [(ngModel)]="description"
      ></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" [mat-dialog-close]="null">close</button>

  @if (id) {
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="clickEditButton()"
      [disabled]="!formModel.valid"
    >
      edit
    </button>
  } @else {
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="clickAddButton()"
      [disabled]="!formModel.valid"
    >
      add
    </button>
  }
</mat-dialog-actions>
