<h2 mat-dialog-title>やったことを書いてください</h2>
<mat-dialog-content>
  <form #formModel="ngForm" class="flex flex-col gap-4 py-4">
    <mat-form-field>
      <mat-label>タイトル</mat-label>
      <input
        matInput
        type="text"
        name="name"
        [(ngModel)]="name"
        required
        #nameModel="ngModel"
      />
      @if (nameModel.invalid) {
        <mat-error>必須入力です</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>日付</mat-label>
      <input
        matInput
        type="date"
        name="date"
        [(ngModel)]="date"
        required
        max="9999-12-31"
        #dateModel="ngModel"
      />
      @if (dateModel.invalid) {
        <mat-error>必須入力です</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>備考</mat-label>
      <textarea
        matInput
        name="description"
        [(ngModel)]="description"
      ></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" [mat-dialog-close]="null">閉じる</button>
  <button
    mat-flat-button
    color="primary"
    type="button"
    (click)="clickAddButton()"
    [disabled]="!formModel.valid"
  >
    追加
  </button>
</mat-dialog-actions>
